body {
    position: relative;
    /* width: 760px; */
    left: 5%;
}

article {
    position: relative;
    width: 600px;
    background-color: white;
    padding: 1em;
    /* float: left; */
    margin-right: 1.5em;
}

aside {
    position: absolute;
    width: auto;
    height: auto;
    /* right: 1em; */
    /* top: 2em; */
    background-color: rgba(255, 255, 255, 1);

    /* float: left; */
}

.bars {
    background-color: burlywood;
    stroke: black;
    fill: cornflowerblue;
}

#info {
    margin: 0em;
    padding-top: 0;
    padding-bottom: 0;
    
}

#info > caption {
    font-weight: bold;
}

#info td, #info th {
    /* border-color: black; */
    /* border-width: 1px; */
    /* border-style: ; */
    /* border-collapse: inherit; */
    height: 0.5em;
    margin: 0;
    text-align: left;
    padding-left: 0.5em;
    padding-right: 0.3em;
    padding-top: 0em;
    padding-bottom: 0em;
}

/* .type { */
/*     font-weight: 700; */
/* } */

col.info {

}

svg {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 20px;

    /* width: 700px; */
}

text {
    fill: black;
}

#logo {
    margin: 0;
    padding: 0;
}

#map {

    position:absolute;
    top: 430px;

}